<p id="notice"><%= notice %></p>

<p>
  <strong>Custom field:</strong>
  <%= @field_row.custom_field %>
</p>

<p>
  <strong>Field set:</strong>
  <%= @field_row.field_set %>
</p>

<p>
  <strong>Row:</strong>
  <%= @field_row.row %>
</p>

<%= link_to 'Edit', edit_field_row_path(@field_row) %> |
<%= link_to 'Back', field_rows_path %>
