<ul class='nav  nav-pills'>
  <li><%= link_to 'New person', new_person_path %></li>
  <li><%= link_to 'Education levels', education_levels_path %></li>
  <li class='active'><a>Index</a></li>
  <li><%= link_to 'New search', new_person_search_path %></li>
</ul>

<% if @people.any? %>
  <%= paginate @people %>
  <table class='table  table-condensed'>
    <thead><tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
    </tr></thead>
    <tbody><%= render @people %></tbody>
  </table>

<% else %>
  <h5>None</h5>
<% end %>
