<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @person.email %>
</p>

<p>
  <strong>Name first:</strong>
  <%= @person.name_first %>
</p>

<p>
  <strong>Name last:</strong>
  <%= @person.name_last %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
