<%= render partial: 'common/nav_cxt_solo', locals: {str: 'Editing a numeric value'} %>
<%= render partial: 'common/link_to_parent_name', locals: {o: @parent} %>
<%= render partial: 'common/link_to_field_set_for_parent', locals: {o: @field_set, parent: @parent} %>

<%= form_for(@numeric_field, html: {class: 'form-horizontal'}) do |f| %>
  <%= render 'common/form_errors', o: @numeric_field %>
  <%= f.hidden_field :parent_id %>

  <div class=control-group>
    <%= f.label @numeric_field.name, class: 'control-label' %>
    <div class=controls>
      <%= f.number_field :gist, required: @numeric_field.required_p %>
      <%= required_field @numeric_field %>
    </div>
  </div>
  <div class=form-actions>
    <%= f.button 'Done', class: 'btn  btn-primary' %>
    <%= @field_set.btn_to_cancel_value_edit(@parent.id) %>
  </div>
<% end %>
