<%= render partial: 'common/link_to_choice_field', locals: {o: @choice_field} %>

<%= form_for(@choice, html: {class: 'form-horizontal'}) do |f| %>
  <%= render 'common/form_errors', o: @choice %>
  <%= f.hidden_field :custom_field_id %>

  <% if @name_edit_able_p %>
    <div class=control-group>
      <%= f.label :name, class: 'control-label' %>
      <div class=controls><%= f.text_field :name %></div>
    </div>
  <% end %>

  <% if @row_edit_able_p %>
    <%= render partial: 'common/row_edit', locals: {f: f, rankable: @choice} %>
  <% end %>

  <div class=form-actions>
    <%= f.button 'Done', class: 'btn  btn-primary' %>
    <%= @choice_field.btn_to_cancel_choice %>
  </div>
<% end %>
