<%= render 'common/form_errors', o: @string_field %>

<div class=control-group>
  <%= f.label :name, class: 'control-label' %>
  <div class=controls><%= f.text_field :name %></div>
</div>

<% if @string_field.row %>
  <dl class=dl-horizontal>
    <dt>Current row</dt>
    <dd><%= @string_field.human_row %></dd>
  </dl>
  <div class=control-group>
    <%= f.label 'Move to row', class: 'control-label' %>
    <div class=controls><%= f.number_field :row_position, class: 'input-mini' %></div>
  </div>
<% end %>

<% if @parent_p %>
  <dl class=dl-horizontal>
    <dt>Length min</dt>
    <dd><%= @string_field.length_min %></dd>
  </dl>
  <dl class=dl-horizontal>
    <dt>Length max</dt>
    <dd><%= @string_field.length_max %></dd>
  </dl>

<% else %>
  <div class=control-group>
    <%= f.label :length_min, class: 'control-label' %>
    <div class=controls><%= f.number_field :length_min %></div>
  </div>
  <div class=control-group>
    <%= f.label :length_max, class: 'control-label' %>
    <div class=controls><%= f.number_field :length_max %></div>
  </div>
<% end %>

<div class=form-actions>
  <%= f.button 'Done', class: 'btn  btn-primary' %>
  <%= @field_set.btn_to_cancel_field %>
</div>
