<%= render partial: 'common/field_set_name', locals: {o: @field_set} %>
<%= link_to 'Edit set', edit_field_set_path(@field_set) %>

<ul class=inline><strong>Add new custom field:</strong>
  <li><%= link_to 'Check box', new_setup_choice_field_path(field_set_id: @field_set.id, kind: 'Checkbox') %></li>
  <li><%= link_to 'Numeric', new_setup_numeric_field_path(field_set_id: @field_set.id) %></li>
  <li><%= link_to 'Radio button', new_setup_choice_field_path(field_set_id: @field_set.id, kind: 'Radio') %></li>
  <li><%= link_to 'Select list', new_setup_choice_field_path(field_set_id: @field_set.id, kind: 'Select') %></li>
  <li><%= link_to 'String', new_setup_string_field_path(field_set_id: @field_set.id) %></li>
</ul>

<%= render partial: 'custom_fields/list', locals: {
  custom_fields: @custom_fields,
  row_offset: @row_offset} %>
