<h4><%= @choice_field.type_human %></h4>
<%= link_to 'Edit', edit_setup_choice_field_path(@choice_field) %>

<%= render partial: 'common/field_set_name', locals: {o: @field_set} %>

<dl class=dl-horizontal>
  <dt><%= @choice_field.type_human %></dt>
  <dd><%= @choice_field.name %></dd>
</dl>

<h5>Choices</h5>
<% if @choice_field.choice_new_able? %>
  <%= link_to 'New choice', new_choice_path(custom_field_id: @choice_field.id) %>
<% end %>

<% if @choices.any? %>

  <%= paginate @choices %>
  <table class='table  table-condensed'>
    <thead><tr>
      <th>Row</th>
      <th>Value</th>
    </tr></thead>
    <tbody>
      <% @choices.each_with_index do |o, i| %><tr>
        <td><%= i + @row_offset %></td>
        <td><%= o.link_to_edit @choice_field %></td>
      </tr><% end %>
    </tbody>
  </table>

<% else %>
  <h5>None</h5>
<% end %>

<%= @choice_field.instructions %>
