<ul class='nav  nav-pills'>
  <li class='active'><a><%= search_results_count %></a></li>
  <li><%= link_to 'New search for people', new_person_search_path %></li>
</ul>

<% if @people.any? %>
  <h5><%= search_results_info @results_count %></h5>
  <ul class=unstyled><%= render partial: 'person', collection: @people %></ul>
  <%= render partial: 'common/search_pagination_nav' %>

<% else %>
  <h5>No results found</h5>
<% end %>
