<%= form_for(@education_level, html: {class: 'form-horizontal'}) do |f| %>
  <%= render 'common/form_errors', o: @education_level %>
  
  <div class=control-group>
    <%= f.label :name, class: 'control-label' %>
    <div class=controls><%= f.text_field :name %></div>
  </div>
  <div class=control-group>
    <%= f.label :description, class: 'control-label' %>
    <div class=controls><%= f.text_field :description %></div>
  </div>

  <% if @row_edit_able_p %>
    <%= render partial: 'common/row_edit', locals: {f: f, rankable: @education_level} %>
  <% end %>

  <div class=form-actions>
    <%= f.button 'Done', class: 'btn  btn-primary' %>
    <%= link_to 'Cancel', education_levels_path, class: 'btn' %>
  </div>
<% end %>
