<%= form_for(@location, html: {class: 'form-horizontal'}) do |f| %>
  <%= render 'common/form_errors', o: @location %>

  <div class=control-group>
    <%= f.label :name, class: 'control-label' %>
    <div class=controls><%= f.text_field :name %></div>
  </div>
  <div class=control-group>
    <%= f.label :description, class: 'control-label' %>
    <div class=controls><%= f.text_field :description %></div>
  </div>
  <div class=form-actions>
    <%= f.button 'Done', class: 'btn  btn-primary' %>
    <%= link_to 'Cancel', locations_path, class: 'btn' %>
  </div>
<% end %>
